@mixin transition() {
    transition-property: background-color, color, fill, border;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

@mixin containerBlue() {
    max-width: 1158px;

    margin: 0 auto;
    margin-bottom: 60px;

    padding: 60px 32px;

    border-radius: 10px;
    border: 2px solid $sky-blue-default;
}