@import '../../scss/mixins';
@import '../../scss/colors';

.container {
    @include containerBlue;

    & h1 {
        color: $sky-blue-default;
        font-size: 32px;
        font-weight: 500;

        margin: 0 auto;

        margin-bottom: 32px;
    }
}

.section {
    padding: 0 16px;
}